*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
	overflow-x: hidden;
	color: black;
	background-image: url('../assets/img2.jpg');	
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}
.container{
	float: right;
}

input[type=email], input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 5px 0;
	display: inline-block;
	border: none;
	background:white;
  }
  
  input[type=email]:focus, input[type=text]:focus, input[type=password]:focus {
	background-color:#ddd;
	outline: none;
	font-weight: bold;
	color:black;
  }

  label{
	  color: white;
	  text-transform: uppercase;
  }

  .btn {
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
	color: white;
}

.btn-full {
	background-color: transparent;
	color: white;
	margin-right: 15px;
}

.btn-full:hover {
	background-color: darkgoldenrod;
}
